[run]
parallel = True
concurrency = multiprocessing
source =
    ume.grpc_server
    ume.dag_executor
    ume.vector_store
    ume.snapshot
    ume.event_ledger
omit =
    */proto/*
    */tests/*
    */benchmarks.py
include =
    ume.grpc_server
    ume.dag_executor
    ume.vector_store
    ume.snapshot
    ume.event_ledger

[html]
directory = coverage_html
